<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Course List</title>
</head>
<body>
<!-- TODO based on student show their course list if none direct to creating a course -->
<h2>Course List:</h2>
<p>Current GPA: <span id="gpaOutput"></span></p>

<form> 
	<table> 
		<tr th:each="currentCourse : ${courses}" > 
		<td th:text="${currentCourse.id}" /> 
		<td th:text="${currentCourse.courseId}" /> 
		<td th:text="${currentCourse.courseName}" /> 
		<td th:text="${currentCourse.creditHours}" /> 
		<td th:text="${currentCourse.instructor}" /> 
		<td th:text="${currentCourse.currentGrade}" /> 
		<td th:text="${currentCourse.isCompleted}" />
		
		<td><a th:href="@{/editCourse/{id}(id=${currentCourse.id})}">Edit</a></td>
		<td><a th:href="@{/deleteCourse/{id}(id=${currentCourse.id})}" onclick="return confirm('Are you sure you want to delete this course?')">Delete</a></td>
		
		</tr> 
	</table> 
</form> 

<a href="../inputCourse">Add a new course</a>  <!-- TODO Add functionality -->

</body>
</html>