<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1">
	<link rel="stylesheet" href="/style-sheet.css"/>
    <title>Course List</title>
  </head>
  <body>
    <h3>Courses For: <span th:text="${student.name}" id="name"></span></h3>
    <table>
      <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Course Instructor</th>
        <th>Course Grade</th>
      </tr>
      <tr th:each="course : ${student.listOfCourses}">
        <td th:text="${course.courseId}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.instructor}"></td>
        <td th:text="${course.currentGrade}"></td>
		    <td th:text="${course.creditHours}"></td>
		    <td><a th:href="@{'/deleteCourse/' + ${student.id} + '/' + ${course.id}}" onclick="return confirm('Are you sure you want to delete this course?')">Drop</a></td>
      </tr>
      <tr>
		    <td><a th:href="@{/inputCourse/{id}(id=${student.id})}">Add Course</a></td>
      </tr>
    </table>

    <p>Current GPA: <span th:text="${GPAView}" id="gpaOutput"></span></p>

</body>
</html>